[package]
name = "headless_chrome"
version = "1.0.6"
authors = ["Alistair Roche <alistair@sunburnt.country>"]
edition = "2021"
description = "Control Chrome programatically"
license = "MIT"
homepage = "https://github.com/atroche/rust-headless-chrome"
repository = "https://github.com/atroche/rust-headless-chrome"
readme = "README.md"

[dependencies]
anyhow = "1"
base64 = "0.21"
derive_builder = "0.12"
directories = { version = "5.0", optional = true }
log = "0.4"
rand = "0.8"
regex = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
tempfile = "3"
thiserror = "1"
ureq = { version = "2.5", optional = true }
walkdir = { version = "2", optional = true }
tungstenite = "0.20"
url = "2.3"
which = "4.0"
zip = { version = "0.6.3", optional = true }

[target.'cfg(windows)'.dependencies]
winreg = "0.51"

[dev-dependencies]
chrono = { version = "0.4", default_features = false, features = ["clock"] }
env_logger = "0.10"
filepath = "0.1.1"
jpeg-decoder = { version = "0.3", default_features = false }
png = { version = "0.17" }
tiny_http = "0.12"

[build-dependencies]
auto_generate_cdp = "0.4.3"

[lib]
name = "headless_chrome"
path = "src/lib.rs"

[features]
default = ["offline"]
fetch = ["ureq", "directories", "zip", "walkdir"]
nightly = []
offline = ["auto_generate_cdp/offline"]
rustls = ["tungstenite/rustls", "tungstenite/rustls-tls-native-roots"]
native-tls = ["tungstenite/native-tls"]
